body {
  font-family: "Helvetica", sans-serif;
}

.animate-fadein {
  opacity: 1;
  animation-name: fadein;
  animation-duration: 1.2s;
}

.hidden {
  display: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}