/* General styling */

body {
  box-sizing: border-box;
  color: #212121;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.2rem;
  padding: 0;
  margin: 0;
  line-height: 1.6;
}

.flex-container {
  display: flex;
  justify-content: center; 
}


/* Header section */

.header-content {
  flex-basis: 800px;
  margin-top: 2rem;
  padding: 28px 28px 0;
  text-align: center;
}


/* Main section */

.main-content {
  flex-basis: 800px;
  padding: 0 28px 28px;
}

.question {
  margin-top: 2.5rem;
}

input[type=radio] {
  margin: 10px 20px;
  font-size: 2rem;
}


/* Results section */

.result {    
  flex-basis: 550px;
  text-align: center;
  margin-top: 3rem;
  padding: 16px;
}


/* Animation-related styling */

.animate-fadein {
  animation-name: fadein;
  animation-duration: 1.2s;
}

.hidden {
  display: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}